/* Steinbeck */
@font-face {
    font-family: 'Steinbeck';
    src: url('../fonts/Steinbeck-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steinbeck';
    src: url('../fonts/Steinbeck-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* IBMPlexSans */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}