.M_rightBlick {
    width: 50vw;
    height: 10vw;
    flex-shrink: 0;
    background-color: var(--black);
    margin-top: 2.5vw;

    .A_addedInfo {
        color: var(--white);
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        /* 1.67756rem */
        text-transform: lowercase;
        padding: 2vw;
        width: 30vw;
    }
}

.M_mailer {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}